---
import MetaHead from "@components/general/MetaHead.astro";
import Disclaimer from "@components/home/Disclaimer.astro";
import Experience from "@components/home/Experience.astro";
import Hero from "@components/home/Hero.astro";
import { info } from "@data";
import Layout from "@layouts/Layout.astro";

const featureProjects = info.projects
	.filter((project) => project.isFeatured)
	.filter((_, index) => index < 6);
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <MetaHead
      title={'Portfolio'}
      description={info.about}
      ogImageUrl={'/assets/images/profile.png'}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={'EXPERIENCE'} details={info.experience} />
      <Experience title={'EDUCATION'} details={info.education} />
      <Disclaimer />
    </Layout>
  </body>
</html>
